mat-dialog-content {
  display: flex;
  flex-direction: column;
  height: 120px;
  align-items: center;
  justify-content: space-evenly;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2em;
  height: 60px;
}

.score > strong {
  font-size: 1.5em;
  color: #004f4f;
}
